@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --font-inter: 'Inter', sans-serif;

  --color-green-50: #ECFDF5;
  --color-green-100: #D1FAE5;
  --color-green-500: #10B981;
  --color-green-600: #059669;
  --color-green-700: #047857;

  --color-gray-50: #F9FAFB;
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;
  --color-gray-600: #4B5563;
  --color-gray-900: #111827;

  --color-orange-400: #FB923C;
  --color-blue-500: #3B82F6;
}

:root {
  font-family: var(--font-inter);
  background-color: var(--color-gray-50);
}

@layer utilities {
  .glass {
    @apply bg-white/80 backdrop-blur-md border border-white/20;
  }
}